body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    color: black;
}

hr{
    width: 300;
    color: #a3a3c2;
    border-width: 3px;
}
.header{
    font-family: 'Libre Baskerville', serif;
    font-size:2x;
    text-align:center;
}
.imageBackground{
    text-align:center;
    padding: 20px;
    max-width:600px;
    width: 100%;
    height: auto;
}

.profilePic{
    border-radius: 10%;
    max-width:200px;
    width: 100%;
    height: auto;
}

.quote{
    text-align:center;
    font-size:20px;
}

.description{
    padding:5px;
    font-size: 20px;
    text-align:center;
}

#social ul li {
    display: inline-block;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0;
    border-right: solid rgba(255, 248, 248, 0.5) 3px;
    color:black;
    font-size:20px;
}

.formidFalcLogo{
    background-color: #333;
    list-style-type: none;
    /*margin: 0;
    padding: 0;*/
    overflow: hidden;
    color: white;
}

.navDesign {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    z-index: 2;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    display: inline-block;
    color: black;
}

.active {
    background-color: dimgrey;
}