body {
    background-color: rgba(0, 206, 209, 0.2);
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.jumbotron {
    margin-top: 20px;
    background-color: darkturquoise;
}

.jumbotron h1 {
    font-family: 'Pacifico', cursive;
    color: white;
}

.subheading {
    color: white;
}

.col-md-4 {
    border: 1px solid red;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 a:hover {
    color: white;
}

.instructions:hover {
    color: blue;
}

.instructions-blurb p {
    line-height: 3em;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.5;
      }

.clearfix {
  overflow: auto;
}

.pictures {
    padding-bottom: 20px;
}

.thumbnail {
    
}

.footer {
    background: none;
    color: darkturquoise;
    border: none;
}
